
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Sirius</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="/">Início</a> 
        <a class="nav-link" href="/blockchain">O que é blockchain?</a>
        <a class="nav-link" href="/contato">Contato</a>
      </nav>
    </div>
  </header>
  </br>
    <main class="px-3">
        <h1>Actions</h1>
        <a id="bottomViewAll" class="btn btn-lg btn-secondary fw-bold border-green" style="width: 200px; align-self: center;margin-top: 10px;" href="/api/queryallcars" value="">View All</a>
        <br>
        <br>
        <a id="bottomInsert" class="btn btn-lg btn-secondary fw-bold border-green" style="width: 200px; align-self: center;margin-top: 10px; margin-bottom: 10px;" href="/api/createcar" value="">Insert</a>
    </main>
    <br><br><br>
    <form method="POST" action="/api/addcar">
        <fieldset class="fieldset">
            <legend class="legend"><b>Formulário de registro de escritura</b></legend>
            <div class="row">
                <div class="col">
                    <label for="registroAno" style="float: left;">CARID:</label>
                    <input id="registroAno" name="carid" type="text" class="form-control" placeholder="Ano" required>
                </div>
                <div class="col">
                    <label for="registroOficialTitular" style="float: left;">MAKE:</label>
                    <input id="registroOficialTitular" name="make" type="text" class="form-control" placeholder="Oficial titular" required>
                </div>                
            </div>
            <div class="row">
                <div class="col">
                    <label for="registroAno" style="float: left;">MODEL:</label>
                    <input id="registroAno" name="model" type="text" class="form-control" placeholder="Ano" required>
                </div>
                <div class="col">
                    <label for="registroOficialTitular" style="float: left;">Colour:</label>
                    <input id="registroOficialTitular" name="colour" type="text" class="form-control" placeholder="Oficial titular" required>
                </div>  
                <div class="col">
                    <label for="registroOficialTitular" style="float: left;">Owner:</label>
                    <input id="registroOficialTitular" name="owner" type="text" class="form-control" placeholder="Oficial titular" required>
                </div>                
                   <div class="col">
                    <label for="registroOficialTitular" style="float: left;">Owner:</label>
                    <input id="TESTE" name="teste" type="text" class="form-control" placeholder="Oficial titular" required>
                </div>  
            </div>
        
            {{!-- <fieldset class="fieldset">
                <legend class="legend"><b>Registro</b> </legend>
                <div class="row">
                    <div class="col">
                        <label for="registroAno" style="float: left;">Ano:</label>
                        <input id="registroAno" name="registroAno" type="text" class="form-control" placeholder="Ano" required>
                    </div>
                    <div class="col">
                        <label for="registroOficialTitular" style="float: left;">Oficial titular:</label>
                        <input id="registroOficialTitular" name="registroOficialTitular" type="text" class="form-control" placeholder="Oficial titular" required>
                    </div>                
                </div>
                </br>
                <div class="row">
                    <div class="col">
                        <label for="registroNumeroMatricula" style="float: left;">Número da matrícula:</label>
                        <input id="registroNumeroMatricula" name="registroNumeroMatricula" type="text" class="form-control" placeholder="Número da matrícula" required>
                    </div>
                    <div class="col">
                        <label for="registroFicha" style="float: left;">Ficha:</label>
                        <input id="registroFicha" name="registroFicha" type="text" class="form-control" placeholder="Ficha" required>
                    </div>
                    <div class="col">
                        <label for="registroData" style="float: left;">Data:</label>
                        <input id="registroData" name="registroData" type="text" class="form-control datepicker" placeholder="Data" required>
                    </div>
                </div>
                </br>
            </fieldset>
            <fieldset class="fieldset">
                <legend class="legend"><b>Imóvel</b></legend>

                <div class="row">            
                    <div class="form-group">
                        <label for="descricaoImovel" style="float: left;">Descrição:</label>
                        <textarea class="form-control" name="descricaoImovel" id="descricaoImovel" name="descricaoImovel" rows="5"  placeholder="Descrição" required></textarea>
                    </div>
                </div>
                </br>
                <div class="row">            
                    <div class="col">                    
                        <label for="numeroImovel" style="float: left;">Número:</label>
                        <input type="text" name="numeroImovel" id="numeroImovel" class="form-control" placeholder="Número" required>
                    </div>
                    <div class="col">
                        <label for="inscricaoImovel" style="float: left;">Inscrição:</label>
                        <input type="text" name="inscricaoImovel" id="inscricaoImovel" class="form-control" placeholder="Inscrição" required>
                    </div>
                    <div class="col">
                        <label for="tipoImovel" style="float: left;">Tipo:</label>
                        <input type="text" name="tipoImovel" id="tipoImovel" class="form-control" placeholder="Tipo" required>
                    </div>
                </div>
                </br>
                <div class="row">
                    <div class="col">
                        <label for="enderecoImovel" style="float: left;">Endereço:</label>
                        <input type="text" name="enderecoImovel" id="enderecoImovel" class="form-control" placeholder="Endereço" required>
                    </div>
                </div>
                </br>
                <div class="row">            
                    <div class="form-group">
                        <label for="composicaoImovel" style="float: left;">Composição:</label>
                        <textarea class="form-control" name="composicaoImovel" id="composicaoImovel" rows="5"  placeholder="Composição" required></textarea>
                    </div>
                </div>
                </br>
                <fieldset class="fieldset">
                    <legend class="legend"><b>Coordenadas</b></legend>
                    <div class="row">
                        <div class="col">
                            <label for="marcoCoordenadas" style="float: left;">Marco:</label>
                            <input type="text" name="marcoCoordenadas" id="marcoCoordenadas" class="form-control" placeholder="Marco" required>
                        </div>
                        <div class="col">
                            <label for="norteCoordenadas" style="float: left;">Norte:</label>
                            <input type="text" name="norteCoordenadas" id="norteCoordenadas" class="form-control" placeholder="Norte" required>
                        </div>
                        <div class="col">
                            <label for="lesteCoordenadas" style="float: left;">Leste:</label>
                            <input type="text" name="lesteCoordenadas" id="lesteCoordenadas" class="form-control" placeholder="Leste" required>
                        </div>
                    </div>
                    </br>
                    <div class="row">            
                        <div class="col">
                            <label for="planaCoordenadas" style="float: left;">Plana:</label>
                            <input type="text" name="planaCoordenadas" id="planaCoordenadas" class="form-control" placeholder="Plana" required>
                        </div>
                        <div class="col">
                            <label for="azimutePlanoCoordenadas" style="float: left;">Azimute Plano:</label>
                            <input type="text" name="azimutePlanoCoordenadas" id="azimutePlanoCoordenadas" class="form-control" placeholder="Azimute Plano" required>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="fieldset">
                    <legend class="legend"><b>Proprietário</b></legend>
                    <div class="row">
                        <div class="col">
                            <label for="nomeProprietario" style="float: left;">Proprietário:</label>
                            <input type="text" name="nomeProprietario" id="nomeProprietario" class="form-control" placeholder="Proprietário" required>
                        </div>
                        <div class="col">
                            <label for="sedeProprietario" style="float: left;">Sede:</label>
                            <input type="text" name="sedeProprietario" id="sedeProprietario" class="form-control" placeholder="Sede" required>
                        </div>
                        <div class="col">
                            <label for="cnpjMfProprietario" style="float: left;">CNPJ/MF:</label>
                            <input type="text" name="cnpjMfProprietario" id="cnpjMfProprietario" class="form-control" placeholder="CNPJ/MF" required>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="fieldset">
                    <legend class="legend"><b>Escritura Pública</b></legend>
                    <div class="row">
                        <div class="col">
                            <label for="dataEscrituraPublica" style="float: left;">Data:</label>
                            <input type="text" name="dataEscrituraPublica" id="dataEscrituraPublica" class="form-control datepicker" placeholder="Data" required>
                        </div>
                        <div class="col">
                            <label for="livroEscrituraPublica" style="float: left;">Livro:</label>
                            <input type="text" name="livroEscrituraPublica" id="livroEscrituraPublica" class="form-control" placeholder="Livro" required>
                        </div>
                    </div>
                    </br>
                    <fieldset class="fieldset">
                        <legend class="legend"><b>Registro</b></legend>
                        <div class="row">
                            <div class="col">
                                <label for="numeroRegistro" style="float: left;">Número:</label>
                                <input type="text" name="numeroRegistro" id="numeroRegistro" class="form-control" placeholder="Número" required>
                            </div>
                            <div class="col">
                                <label for="dataRegistro" style="float: left;">Data:</label>
                                <input type="text" name="dataRegistro" id="dataRegistro" class="form-control datepicker" placeholder="Data" required>
                            </div>
                            <div class="col">
                                <label for="matriculaRgRegistro" style="float: left;">Matrícula do RG:</label>
                                <input type="text" name="matriculaRgRegistro" id="matriculaRgRegistro" class="form-control" placeholder="Matrícula do RG" required>
                            </div>
                        </div>                   
                    </fieldset>
                    <fieldset class="fieldset">
                        <legend class="legend"><b>Matrícula</b></legend>
                        <div class="row">
                            <div class="col">
                                <label for="numeroMatricula" style="float: left;">Número:</label>
                                <input type="text" name="numeroMatricula" id="numeroMatricula" class="form-control" placeholder="Número" required>
                            </div>
                            <div class="col">
                                <label for="dataMatricula" style="float: left;">Data:</label>
                                <input type="text" name="dataMatricula" id="dataMatricula" class="form-control datepicker" placeholder="Data" required>
                            </div>                    
                        </div>                  
                    </fieldset>
                    <fieldset class="fieldset">
                        <legend class="legend"><b>Requerimento</b></legend>
                        <div class="row">
                            <div class="col">
                                <label for="dataTermoRequerimento" style="float: left;">Data do Termo:</label>
                                <input type="text" name="dataTermoRequerimento" id="dataTermoRequerimento" class="form-control datepicker" placeholder="Data do Termo" required>
                            </div>
                            <div class="col">
                                <label for="numeroAverbacaoRequerimento" style="float: left;">Número da averbação:</label>
                                <input type="text" name="numeroAverbacaoRequerimento" id="numeroAverbacaoRequerimento" class="form-control" placeholder="Número da averbação" required>
                            </div>
                            <div class="col">
                                <label for="dataAverbacaoRequerimento" style="float: left;">Data da averbação:</label>
                                <input type="text" name="dataAverbacaoRequerimento" id="dataAverbacaoRequerimento" class="form-control datepicker" placeholder="Data da averbação" required>
                            </div>                     
                        </div>                  
                    </fieldset>               
                </fieldset>
                <fieldset class="fieldset">
                    <legend class="legend"><b>AV1 - Preexistência de Ônus</b></legend>
                    <div class="row">
                        <div class="col">
                            <label for="protocoloAv1" style="float: left;">Protocolo:</label>
                            <input type="text" name="protocoloAv1" id="protocoloAv1" class="form-control" placeholder="Protocolo" required>
                        </div>
                        <div class="col">
                            <label for="favorecidoAv1" style="float: left;">Favorecido:</label>
                            <input type="text" name="favorecidoAv1" id="favorecidoAv1" class="form-control" placeholder="Favorecido" required>
                        </div>
                        <div class="col">
                            <label for="matriculaAv1" style="float: left;">Matrícula:</label>
                            <input type="text" name="matriculaAv1" id="matriculaAv1" class="form-control" placeholder="Matrícula" required>
                        </div> 
                        <div class="col">
                            <label for="enderecoAv1" style="float: left;">Endereço:</label>
                            <input type="text" name="enderecoAv1" id="enderecoAv1" class="form-control" placeholder="Endereço" required>
                        </div>                     
                    </div>                  
                </fieldset>
                <fieldset class="fieldset">
                    <legend class="legend"><b>AV2 - Extinção da Preexistência de Ônus</b></legend>
                    <div class="row">
                        <div class="col">
                            <label for="protocoloAv2" style="float: left;">Protocolo:</label>
                            <input type="text" name="protocoloAv2" id="protocoloAv2" class="form-control" placeholder="Protocolo" required>
                        </div>
                        <div class="col">
                            <label for="subOficialAv2" style="float: left;">Sub-Oficial:</label>
                            <input type="text" name="subOficialAv2" id="subOficialAv2" class="form-control" placeholder="Sub-Oficial" required>
                        </div>
                        <div class="col">
                            <label for="comarcaAv2" style="float: left;">Comarca:</label>
                            <input type="text" name="comarcaAv2" id="comarcaAv2" class="form-control" placeholder="Comarca" required>
                        </div> 
                        <div class="col">
                            <label for="estadoAv2" style="float: left;">Estado:</label>
                            <input type="text" name="estadoAv2" id="estadoAv2" class="form-control" placeholder="Estado" required>
                        </div>                     
                    </div>  
                    </br>
                    <div class="row">
                        <div class="col">
                            <label for="numeroDajeAv2" style="float: left;">Número do DAJE:</label>
                            <input type="text" name="numeroDajeAv2" id="numeroDajeAv2" class="form-control" placeholder="Número do DAJE" required>
                        </div>
                        <div class="col">
                            <label for="dataAv2" style="float: left;">Data:</label>
                            <input type="text" name="dataAv2" id="dataAv2" class="form-control datepicker" placeholder="Data" required>
                        </div>
                        <div class="col">
                            <label for="responsavelAv2" style="float: left;">Responsável:</label>
                            <input type="text" name="responsavelAv2" id="responsavelAv2" class="form-control" placeholder="Responsável" required>
                        </div>                                     
                    </div>                   
                </fieldset>
            </fieldset> --}}
        </fieldset>
        <input id="bottomEnviar" class="btn btn-lg btn-secondary fw-bold border-green" style="width: 100px; align-self: center;" type="Submit" value="Submit">
    </form>
    <footer class="mt-auto text-white-50">
      <p>© 2022 Sirius - Todos Os Direitos Reservados</p>
    </footer>
</div>